.clearfix:before,
.clearfix:after {
     content: "";
     display: table;
}

.clearfix:after {
     clear: both;
}

.carousel {
     margin-top: 1rem;
     margin-bottom: 0;
}
.img__frame {
     /* border-radius: 20px; */
     box-shadow: #e78cdb;
     filter: opacity(0.7);
     -webkit-filter: opacity(0.7);
     -moz-filter: opacity(0.7);
     -o-filter: opacity(0.7);
     -ms-filter: opacity(0.7);
}

.carousel h1 {
     font-size: 36px;
     margin: 0px 0px 30px 0px;
     font-weight: normal;
}

.carousel .box {
     float: left;
     width: 33%;
}

.carousel .box p {
     font-size: 20px;
     color: #7f3f98;
     text-align: center;
     margin: 0;
}

.carousel .box p img {
     margin-bottom: 0;
     margin: auto;
}

.slick-prev,
.slick-next {
     background: url(../images//arrows.png);
     width: 22px;
     height: 33px;
     position: absolute;
     top: 50%;
     display: block;
     padding: 0;
     cursor: pointer;
     color: transparent;
     border: none;
     outline: none;
     z-index: 99;
}

.slick-prev {
     background-position: 0px;
     left: 0px;
}

.slick-next {
     background-position: -22px;
     right: 0px;
}

/* @media only screen and (max-width: 1180px) {
     .carousel {
          width: 90%;
     }
} */
